<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - Office</title>
    {% else %}
        <title>{{ _('Welcome to the Office') }}</title>
    {% endif %}

    <!-- Global CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/S.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/main.min.css" rel="stylesheet">

    
</head>

<body class="{% block body_class %}{% endblock %}">
    <!-- Rest of the body content -->
    <div>
                <!-- Vertical Navigation Bar -->
                <nav class="vertical-nav" id="menu">
                        <img src="{{ url_for('static', filename='images/DRSapp_logo.png') }}" alt="{{ _('Office Logo') }}" class="logo">
                        <button class="menu-button" onclick="toggleMenu()" aria-label="{{ _('Toggle Menu') }}">☰</button>
                        <ul>                               
<li><a href="{{ url_for('main.dashboard_home') }}">{{ _('Home') }}</a></li>
<li><a href="{{ url_for('main.dashboard_planner') }}">{{ _('Planner') }}</a></li>
<li><a href="{{ url_for('main.dashboard_calendarevents') }}">{{ _('CalendarEvents) }}</a></li>
<li><a href="{{ url_for('main.dashboard_editprofile') }}">{{ _('Edit Profile') }}</a></li>
<li><a href="{{ url_for('main.profile', username=current_user.username) }}">{{ _('Profile') }}</a></li>
<li><a href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a></li>
                           
                        </ul>
                                {% if g.search_form %}
                                <form class="search-form" method="get" action="{{ url_for('main.search') }}">
                                        <div class="form-group">
                                                <label for="search-query" class="sr-only">{{ _('Search') }}</label>
                                                {{ g.search_form.q(size=20, class='form-control', id='search-query', name='q', placeholder=g.search_form.q.label.text) }}
                                        </div>
                                        <button type="submit" class="btn btn-primary">{{ _('Search') }}</button>
                                </form>
                                {% endif %}
                </nav>
        </div>
		
		<div class="container">
			<h1 class="welcome-message">
				{{ _('Hi, %(username)s!', username=current_user.username) }}
			</h1>

			{% if form %}
			<div class="form-container">
				{{ form.hidden_tag() }}
				<form method="post">
					{{ form.csrf_token }}
					{{ form.username.label }} {{ form.username(size=32) }}
					{{ form.submit(class="btn btn-primary") }}
				</form>
			</div>
			{% endif %}
		</div>
        <div>
                <!-- Main Content -->
                <main class="main-content">
                        <h1>{{ _('Welcome to the Office') }}</h1>
                        <p>{{ _('Scroll the navigation bar on the left to see all options!') }}</p>
                        <p>{{ _('The only constant is change; it occurs daily. Let it be peaceful.') }}</p>
                        <br>
                        <br>
                        <h2>{{ _('Task Management for Today') }}</h2>
                        <p>{{ _('Below are tasks received and allocated throughout the day:') }}</p>

                        <h3>{{ _('Received Delegations') }}</h3>
                        <ul>
                                {% for task in tasks.superior_tasks %}
                                        <li>{{ task.description }}
                                                <span class="timestamp">{{ _('Received on: ') }} {{ task.timestamp }}</span>
                                        </li>
                                {% else %}
                                        <li>{{ _('No tasks from superiors yet.') }}</li>
                                {% endfor %}
                        </ul>

                        <h3>{{ _('Tasks from Colleagues') }}</h3>
                        <ul>
                                {% for task in tasks.colleague_tasks %}
                                        <li>{{ task.description }}
                                                <span class="timestamp">{{ _('Received on: ') }} {{ task.timestamp }}</span>
                                        </li>
                                {% else %}
                                        <li>{{ _('No tasks from colleagues yet.') }}</li>
                                {% endfor %}
                        </ul>

                        <h3>{{ _('Self-Allocated Tasks') }}</h3>
                        <ul>
                                {% for task in tasks.self_assigned_tasks %}
                                        <li>{{ task.description }}
                                                <span class="timestamp">{{ _('Assigned on: ') }} {{ task.timestamp }}</span>
                                        </li>
                                {% else %}
                                        <li>{{ _('No self-allocated tasks yet.') }}</li>
                                {% endfor %}
                        </ul>
                </main>
        </div>
    <footer>
        <p>&copy; {{ _('Office 2024') }}</p>
    </footer>
</body>
{{ moment.include_moment() }}
{{ moment.locale(g.locale) }}  <!--{{ moment.lang(g.locale) }} -->
	

    <!-- FullCalendar JS -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.4/main.min.js"></script>
    <script src="{{ url_for('static', filename='scripts/J.js') }}" type="text/javascript"></script>
</body>
</html>

